html
    head
      title File Metadata Microservice
      link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', type='text/css')
    body
      div.container-fluid
        div.col-xs-2
        div.col-xs-8
          div.row
            h1 API Projects
                br
                small File Metadata Microservice
          div.row
            b User stories:
            ul
              li I can submit a FormData object that includes a file upload
              li When I submit something, I will receive the file size in bytes within the JSON response
          div.row
            form(method='POST' action='/upload' enctype='multipart/form-data')
              div.form-group
                input#file-select.form-control(type='file' name='ul')
                button.btn.btn-primary(type='submit') Submit
        div.col-xs-2
